body {
  font-family: 'Open Sans', sans-serif;
  /*font: 12px Arial;*/
  background-color: #FFF;
  background: url(/images/diagonal-noise.png) repeat;
  margin: 0px;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.output {
  /*margin-left: 50px;*/
  text-align: center;
}

h1 {
  margin: 4px;
  margin-top: 4px;
  display: inline-block;
  text-align: center;
  color: #000;
}

.content {
  margin: 10px auto;
  max-width: 1200px;
  box-shadow: 2px 2px 2px 2px #555;
  background-color: #FFF;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.controls > form > h2 {
  text-align: center;
}

.button-wrapper {
  text-align: center;
}

.title-wrapper {
  margin: 0px auto;
  display: inline-block;
}

.outer-title-wrapper {
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

.flex {
  /*box-shadow: 2px 2px 2px 2px #555;
  background-color: #EEE;*/
  margin: 10px;
  margin-top: 0px;
}

.plot-separator {
  width: 50%;
  color: #DDD;
  border-color: #DDD;
  background-color: #DDD;
}

.footer {
  text-align: center;
  color: #ccc;
}

.footer > p > a {
  color: #ccc;
}
