.axis path,
.axis line {
  fill: none;
  /*stroke: #000;*/
  shape-rendering: crispEdges;
}

.axis {
  stroke: #FFF;
}

.axis text {
  fill: #FFF;
}

text {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  stroke-width: 0.0;
}

.x.axis path {
  display: none;
}

.flex-container {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}


#timer-arc {
  fill: orchid;
  stroke: orchid;
  stroke-width: 1.5px;
}

#fridgeline {
  fill: none;
  stroke: tomato;
  stroke-width: 1.5px;
}

#controllerline {
  fill: none;
  stroke: dodgerblue;
  stroke-width: 1.5px;
}

#update-time {
  color: #FFF;
}

#current-timer-text {
  stroke: #FFF;
  fill: #FFF;
  font-family: 'Lato',sans-serif;
}

#brew {
  font-family: 'Raleway',sans-serif;
}

body {
  color: #FFF;
  background-color: #202026;
  font-family: 'Lato',sans-serif;
}
