.content {
  line-height: 1.4;
  margin: 40px auto;
  max-width:850px;
  font-size:18px;
  color:#000;
  padding:0 10px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items:flex-start;
  align-content:flex-start;
}

.page-title {
  line-height:1;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 4px;
}

.description {
  margin-top: 4px;
  font-size: 18px;
}

.catagories {
  font-size: 10px;
  line-height: 1;
  font-style: italic;
  color: #444;
  margin-top: 4px;
  margin-bottom: 4px;
}

.article-box {
  max-width: 400px;
  width: 400px;
  padding-right: 20px;
}

.article-box > a {
  color: inherit;
  text-decoration: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  /*font-family: 'Lato', sans-serif;*/
}
