body {
  line-height: 1.4;
  margin: 40px auto;
  /*max-width:650px;*/
  line-height:1.6;
  font-size:18px;
  color:#FFF;
  background-color: #222;
  padding:0 10px;
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  line-height:1.2;
  font-family: 'Raleway', sans-serif;
}

pre>code {
  font-size:0.8;
}

img {
    width:80%;
    max-width:80%;
    margin-left: 15px;
}

input {
  /*rgb(19,156,212);*/
  font-family: 'Lato', sans-serif;
  line-height:1.6;
  font-size:18px;
  margin-top: 5px;
  margin-right: 5px;
  color:#FFF;
  background-color: #101013;
  border-style: solid;
  border-color: #131313;
}

select {
  font-family: 'Lato', sans-serif;
  line-height:1.6;
  font-size:18px;
  padding: 0;
  margin-top: 5px;
  color:#FFF;
  background-color: #101013;
  border-style: solid;
  border-color: #131313;
}

option {
  font-family: 'Lato', sans-serif;
  line-height:1.6;
  font-size:18px;
  color:#FFF;
  background-color: #101013;
}

button {
  font-family: 'Lato', sans-serif;
  line-height:1.6;
  font-size:18px;
  margin-top: 5px;
  color:#FFF;
  background-color: #101013;
  border-style: solid;
  border-color: #131313;
}

.caption {
  text-align: center;
  font-style: italic;
  font-size: 16px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  max-width:640px;
  margin-right: 10px;
}

#results-container {
  margin: 40px auto;
}

a {
  color:#F2F2F2;
}


a:link {
  color:#F2F2F2;
}

a:visited {
  color:#F2F2F2;
}

svg {
  font: 10px;
  font-family: 'Lato', sans-serif;
  color: #FFF;
}

.background path {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #222, 1px 0 0 #222, 0 -1px 0 #222, -1px 0 0 #222;
  color: #FFF;
  fill: #FFF;
  cursor: move;
}
