body {
  margin-top: 0px;
  background-color: #000;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  background-image: url("SBF_Centre.jpg");
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  color: #FFF;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  /*background-color: rgb(212,15,19);
  margin-left: 0px;
  margin-right: 0px;*/
}

.left-column {
  width: 400px;
}

.right-column {
  width: 800px;
}

.header-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
}

p {
  margin: 5px auto;
  text-align: center;
}

video {
  margin: 5px auto;
}

iframe {
  margin: 5px auto;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.company {
  font-size: 1.5em;
  font-weight: bold;
}
