<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The International Journal of DSA</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/highlight/agate.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body class="language-python">
    <div class='header'>
      <a href='/' class='home'>dsa.tech</a>
      <!--<div class="line">
      </div>-->
      <div class='header-vertical'>
        <div class='header-text'>
          Technocrat-in-training
        </div>
        <div class='header-links'>
          <a href='/'>Home</a>
          <a href='/about.html'>About</a>
          <a href='/contact.html'>Contact</a>
        </div>
      </div>
    </div>
    <!--<hr id='header-hr'/>-->
    <div class='content'>
